publish.sonatype.snapshotsUrl=https://oss.sonatype.org/content/repositories/snapshots
publish.sonatype.username=
publish.sonatype.password=

publish.release.releasesUrl=https://oss.sonatype.org/service/local/staging/deploy/maven2
publish.release.username=
publish.release.password=
publish.release.signing=true

# publish-profile: x
publish.x.url=
publish.x.signing=
publish.x.allowInsecureProtocol=

signing.keyId=
signing.password=
signing.secretKeyRingFile=
